<script>
function toISO8601Date(date) {
  // Month in JS is 0-based
  monthStr = (now.getMonth() + 1).toString().padStart(2, "0");
  dayOfMonthStr = now.getDate().toString().padStart(2, "0");
  yearStr = now.getFullYear().toString();

  return `${yearStr}-${monthStr}-${dayOfMonthStr}`;
}

var now = new Date();
var dateStr = toISO8601Date(now);

window.location.replace(`/log/${dateStr}`);
</script>
